body {
  background: conic-gradient(#666, #444, #222, black, #222, #444, #666);
  height: 100vh;
  color: white;
  font-family: sans-serif;
}

.card {
  border: 1px solid #fff6;
  border-radius: 16px;
  width: 600px;
  
  text-align: center;
  padding: 2rem;

  background: linear-gradient(#0003,#fff3);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.perfil img{
  border: 1px solid;
  border-radius: 16px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 2px 5px black;
}

.perfil h1{
  font-size: 1.5rem;
}

.redes {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 2rem 0;
}

.rede {
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 8px;
  background: linear-gradient(transparent, #fff2);
}

.minibio {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 8px;
  background: linear-gradient(transparent, #fff2);
}